html,
body {
  width: 100vw;
  
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.bg-blue{
  background-color: #4d0066	;
}
.txt-wh{
  color:#fff;
}
.h-500{
  height:500px
}
.txt-50{
  font-size: 50px;
}
.mg-bt-50{
  margin-bottom: 250px !important;
}
.mg-top-50{
  margin-top: 50px;
}
.hscroll{
  height: 500px;
  overflow: scroll;
}
.hscrollchat{
  height: 400px;
  overflow-y: auto;
}
.txt-60{
  font-size: 60px;
}

.bg-transparent{
  background-color: transparent;
}
.pd-50{
  padding : 50px;
}